/* MEDIA RESPONSIVENESS STYLE*/

*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {

  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }  

}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }  
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}

/* BASIC ARCHITECTURE STYLE */

.container {
margin: auto;
margin-top: 20px;
max-width: 1000px;
background-color: white;
padding: 5px;
border-width: 6px;
border-color: forestgreen;
border-radius: 25px;
border-style: solid;
font-family: 'Raleway', sans-serif;
}
.column {
background-color: white;
margin-bottom: 5px;
padding: 5px;
border: 1px;
border-color: forestgreen;
border-style: dotted;
text-align: center;
}
.row {
padding: 5px;
margin: 5px;
border: 1px;
border-color: silver;
border-style: solid;
text-align: center;
}

/* BUTTON STYLE */

.button {
  display: inline-block;
  border-radius: 25px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* DISPLAY STYLE */

#headstyle {
background-color: white;
text-align: center;
font-family: 'Baloo', cursive;
font-size: 46px;
text-align: center;
}

#headstyle2 {
background-color: white;
text-align: center;
font-family: 'Baloo', cursive;
font-size: 46px;
}

#imgStyle {
text-align: center;
max-width: 100%;
height: auto;
/*display: block;
*/}

#linkStyle {
text-decoration: none;
text-align: center;
}


